.motto{
    width:100%;
    height:40%;
    font-family:'Handjet';
    font-weight:500;
    font-size:4vh;
    color: black;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e6d7de, 0 0 50px #c2bbbf, 0 0 60px #a7919c, 0 0 70px #e60073;
}
