@import "./../../styles.scss";

.footer{
  background-color: $dimed-blackcolor;
  color:antiquewhite;
  height: 30%;
  width:100%;
  
}
.container{
  width:100%;
  height:100%;
  

}
.block{
  width:100%;
  height:100%;
}

.icons-container{
  width: 50vw;
  height: 30vh;
  display:flex;
  flex-direction: row;
  gap:5%;
  row-gap:6%;
  
}

.box{
  background-color: rgb(140, 140, 26);
  width:90%;
  height:90%;

}
.icon{
  width:20vw;
  height:20vh;
  font-size:30vh;
}

