<footer class="footer">
  <div class="container">
    <div class="spaceBetweenBlockAndIcons"></div>

    <div class="icons-container">
      <div *ngFor="let icon of icons">
        <a [href]="icon.url" target="_blank" rel="noopener noreferrer" class="ibi">
          <i [ngClass]="icon.class"></i>
        </a>
      </div>
    </div>
    <div class="social-text">Join us on social media</div>
    <div class="logoWithNeurons">
      <img src = "assets/webaby-net-gradient-1.2.png" alt="logoWithNeurons">
    </div>
    <div>© 2023 Webaby Gaming Company</div>
    <div class="policy_privacy" (click)="togglePrivacyPolicyModal()">Privacy Policy</div>
    <app-privacy-policy [showModal]="showModal" [language_pl]="language_pl"></app-privacy-policy>
    

    <!-- <div class="block">
      <div>© 2023 Webaby Gaming Company</div>
    </div> -->
  </div>
<div *ngIf="visible" class="justTowrapTemporaryUnusedCode">
    <div>here various contents </div>
    <!-- Templates for the varying wrappers -->
    <ng-template #trueCondition let-content>
      <div class="true-condition-wrapper">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </div>
    </ng-template>

    <ng-template #falseCondition let-content>
      <div class="false-condition-wrapper">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </div>
    </ng-template>

    <!-- Main content encapsulated in another template -->
    <ng-template #mainContentTemplate>
    <div> This is the main content that remains unchanged.</div>
    </ng-template>

    <!-- Using *ngIf to decide which wrapper to use and passing the main content template to it -->
    <ng-container *ngIf="random_boolean; then trueBlock; else falseBlock"></ng-container>

    <ng-template #trueBlock>
      <ng-container data-aos="fade-up" data-aos-duration="3000" *ngTemplateOutlet="trueCondition; context: {content: mainContentTemplate}"></ng-container>
    </ng-template>

    <ng-template #falseBlock>
      <ng-container data-aos="fade-left" data-aos-duration="3000" *ngTemplateOutlet="falseCondition; context: {content: mainContentTemplate}"></ng-container>
    </ng-template>

    
    <div>
      
    </div>
  </div>

</footer>
