@import "./../../styles.scss";

.container{
  max-width:100%;
  display:flex;
  flex-direction:row;
  @media (min-width: $breakpoint ) {
    flex-direction: column;
  }
  
}

.cr-transparent{
  background: #3f87a6;
  opacity:0.4;
  color:black;
  border-radius: 2%;

  padding: 5%;
  
}

.img_fit{
  width:100%;
  height:100%;
}
.image_socket{
  width:100%;
  height:100%;
  border: 3px solid rgba(57, 70, 143, 0.6);
  border-radius: 0%;

  animation: fadeInAnimation ease 6s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.bg-textWhite{
  border-radius: 1%;
  opacity:0.6;
  max-width:10%;

}


// If the screen size is smaller than 600px
@media only screen and (max-width: 600px) {
  .gameHeader {
    font-size: 4vw;  // Adjust the size according to your needs
  }
}

// If the screen size is between 600px and 900px
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .gameHeader {
    font-size: 10vw;
  }
}

// If the screen size is larger than 900px
@media only screen and (min-width: 900px) {
  .gameHeader {
    font-size: 11vw;
  }
}



@media only screen and (max-width: 600px) {
  .bg-transparent {
    font-size: 9vw;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .bg-transparent {
    font-size: 8vw;
  }
}

@media only screen and (min-width: 900px) {
  .bg-transparent {
    font-size: 7vw;
  }
}



bg-transparent {
  
  font-size: 5vw;
}

@media only screen and (max-width: 600px) {
  .bg-transparent {
    font-size: 7vw;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .bg-transparent {
    font-size: 6vw;
  }
}

@media only screen and (min-width: 900px) {
  .bg-transparent {
    font-size: 50vw;
  }
}


.game-badge{
  display:flex;
  flex-direction: column;
  @media (min-width: $breakpoint ) {
    flex-direction: row;
  }

  width:100%;
  gap:2%;
}

.game-info{
  display:flex;
  flex-direction: column;
  border-radius:1vh;
  width:100%;
  margin-bottom: 2%;
  min-width:156px;

}
.gameHeader{
  font-size: 6vh;
  color:black;
  background-color:$glow-color;
  border-radius:1vh;
  padding: 3%;
  margin-bottom:2%;
  }
  .gameHeader:hover{
      box-shadow: 0 0 5px $glow-color,
      0 0 25px $glow-color, 0 0 50px $glow-color,
      0 0 100px $glow-color, 0 0 200px $glow-color; 
  }
.spaceBetween{
  height:5vh;
}
.container{
  display:flex;
  flex-direction: column;
  gap: 22%;

}
.btn-buttonforGameAge{
  margin: 3% 0;
  padding: 3%;

}
.btn-buttonforGameAge:hover{
  color:rgb(38, 47, 47);
  background: repeating-linear-gradient(45deg, #3f87a6, #ebf8e1 15%, #f69d3c 20%);;
}
.bg-transparent{
  opacity:30%;
  border-radius:1vh;
  font-size:5vh;
  height:auto;
  width:auto;
}

.glow-on-hover {
  border-radius: 5%;
  font-size:3em;
  padding:3%;
  width: 100%;
  height: 100%;
  border: dotted 1px rgb(77, 32, 150);
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5%;
  margin: 2% 0;
  display:flex;
  flex-direction:row;
  align-content:center;
  align-items: center;
  column-gap:2%;
  margin-bottom:2%;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  border:none;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0%;
  top: 0%;
  border-radius: 5%;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.btn-glow{
  background-color:$glow-color;
}
.btn-glow:hover{
    border-width: 0%;
    box-shadow: 0 0 6% $glow-color,
    0 0 25px $glow-color, 0 0 50px $glow-color,
    0 0 100px $glow-color, 0 0 200px $glow-color;

}
.font-size-header{
  font-size:2em;
}

.card-header-font-size{
  font-size:3em;
}