<div *ngFor="let game of gamesjson">
  <div class="container">
  <div class="game-badge">
      <img [src]=game.image alt="Game Preview" ngClass="img_fit" />
      <div class="gameHeader">
        {{ game.name }} <span class="badge bg-secondary">{{game.category}}</span>

      </div>
      <div class="badge bg-dark bg-textWhite"
      >{{game.description}}</div>

  </div>
  <button type="button" class="btn btn-primary btn-buttonforGameAge">
    {{game.createdAt}} <span class="badge bg-secondary">{{game.age}}</span>
  </button>
  <div class="spaceBetween"></div>
</div>
</div>
