@import './_animations.scss';
@import './../../styles.scss';

.text {
  @extend .colorwave;
}

.colorchange {
  font-family: Roboto;
  font-size: 1em;
  animation: color-change 3s infinite;
}

@keyframes color-change {
  0% { color: rgb(20, 6, 55); }
  10% { color: rgb(2, 21, 167);}
  20% { color: rgb(79, 142, 230); }
  30% { color: rgb(222, 222, 238); }
  40% { color: rgb(197, 197, 220); }
  60% { color: rgb(79, 142, 230); }
  80% { color: blue; }
  90% { color: rgb(2, 21, 167);}
  100% { color: rgb(20, 6, 55); }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  background-color: $base-black !important;
}
.img_fit{
  max-width:100px;
  max-height:100px;
}
.container{
  display:flex;
  background-color:$base-black !important;
}


