
body{
  background-color: black !important;
  min-width: 100%;
    min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 20em;
  perspective-origin: 30% 45%;
  
} 


a{font-family:'Segoe UI', sans-serif}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.logo{
  
  background-image:url("./../../assets/wbbaby24a.png");
  background-repeat: no-repeat;
  background-size:contain;
  min-width:50vd;
  min-height: 50vh;
  -webkit-animation:spin 4s linear 3s;
  -moz-animation:spin 4s linear 3s;
  animation:spin 4s linear 3s;
  
}
  @-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg);
     }
    
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg);
     } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
        
    } 
}
  

.logo_container{
  width:30vw;
  height:30vh;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

