@import "./../../variables";
// .body,html{
//     background-color: black !important;
//     width: 100vw;  
//     height: auto;
//     margin: 0;
//     padding: 0;
//     font-family:$font-family;
// }

:host  {
  
  font-family: 'Ropa Sans', sans-serif !important;
}

.container-game * {font-family:"Ropa Sans", sans-serif;}

.container-game
{
    background-color: black !important;
    width: 100vw;  
    height: auto;
    margin: 0;
    padding: 0;
    font-family:"Ropa Sans", sans-serif !important;
}
span {
  font-family: "Ropa Sans", sans-serif !important;
}

.button-container {
    // position: absolute;
    // top:10%;
    position: absolute;
    top: 45%; 
    left: 5%; 
    //transform: translate(-50%, -50%); 
    z-index: 1;  // Ensure the buttons are above the image
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width:70%;
    height: auto;
    


    button {
        margin: 2vh 2vw;  // Give some spacing between buttons
        opacity:70%;
        border-radius: 5%/10%;
        box-shadow: 4% 4% 4% rgb(109, 86, 12);
        border:solid 0.2 bisque;
        border-color:bisque;
        color:bisque;
        align-items: center;
    }
   button:hover{
    background-color:rgba(216, 152, 74, 0.4);
    color:rgb(209, 220, 255);
  }
  button:active {
    background-color: rgb(150, 8, 179);
  }
}

@media only screen and (max-width: $breakpoint) {
    .button-container {
      flex-direction:column;  // Adjust the size according to your needs
      align-items:center;
    }
  }
.image-container {
  
  position: relative;
  width: 100vw;  
  height: auto;
  //overflow: hidden;
  display: flex;
  flex-direction:column;
  align-items:self-start;
  justify-content: center;
  

  .color-image {
    position: relative;
    display: block;
    width: 10vw;
    height: 10vh;
    //object-fit: cover;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%; // starts from 0 to animate the revealing effect
      background: url('../../assets/nicpon-11-png.png') no-repeat center/cover;
      z-index: 2;
      animation: revealGrayScale 5s forwards;
    }
  }
}

@keyframes revealGrayScale {
  to {
    height: 100%;
  }
}

.abcLand{

    font-size:3vw;
    font-weight:20%;
    z-index:100;
    color:antiquewhite;
    opacity:100%;
    font-family: "Ropa Sans", sans-serif !important;
}

svg{
    background-color:black !important;

}

.transparent-button {
    background-color: transparent;  /* Makes the button's background transparent */
    border: 2% solid #333;  /* This sets the border around the button */
    padding: 1% 1%;  /* Adjust as needed to give space around the text */
    font-size: 2rem;  /* Adjust the text size as needed */
    color: #333;  /* Text color */
    cursor: pointer;  /* Changes the cursor when hovering over the button */
    transition: 0.3s;  /* Smoothens the hover effect */
    width:auto;
    height:13%;
    
    
}

.transparent-button:hover {
    background-color: rgba(51, 51, 51, 0.1);  /* Adds a slight shade to the button when hovered */
}
.transparent-button:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
  }
  
  @keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--hover); }
  }

  .game-title{
    //position: absolute;
    z-index: 1;
    padding-left:5%;
    padding-top:5%;
    top:5%;
    left:5%;
    width: 46vh; 
    height:auto;
    padding-bottom: 10%;
    font-size:3vw;
    
    line-height: 100%;
    color:white;
    align-self: flex-start;
  }
  .game-subtitle {
    font-size:1.5vw;
    letter-spacing:30%;
    color:burlywood;
    line-height: 80%;
  }
  .storesIcons{
    width:100%;
    height:100%;
    
  }
  .allOnBackgroundImage{
    width:100%;
    height: 20vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    align-content:center;
    font-family:"Ropa Sans", sans-serif;
    
  }
  @media only screen and (max-width: $breakpoint) {
    .allOnBackgroundImage {
      
       display:flex;
       align-content:center;  // Adjust the size according to your needs
       align-items: center;
    }
  }

  .badges-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:2%;
    margin:0.5em;
    width:100vw;
    height: 100vh;
    background-color:black;
    border:black;
    font-size:2em;
    word-spacing:2%;
    font-family:"Ropa Sans", sans-serif;
    

  }
  .card{
    border-radius:3% 4%;
    padding:3%;
    line-height:90%;
  }
  .card:hover{
    background-color: $base-black;
    color:rgb(230, 167, 73);
    display: inline-block;
    animation: rotation 0.8s linear;
  }
  
  @keyframes rotation {
    30%{
        transform: rotate(360deg);
        opacity:0;
    }
    50% {
      
      opacity:0.1;
      
    }
    100% {
      transform: rotate(0deg);
      opacity:1;
      
    }
  }

  .card-yellow{
    background-color: rgb(180, 169, 17);
  }
  .card-cyan{
    background-color: rgb(16, 174, 185);
  }
  .card-violet{
    background-color: rgb(75, 16, 70);
    color:antiquewhite;
  }
  .card-red{
    background-color: rgb(124, 4, 4);
    color:antiquewhite;
  }

  .cardS{
    width:22vw;
    height:22vw;
  }
.card-img-top{
    width:80%;
    height:auto;
}
.abecadlowo{
    display: flex;
}


bounce-container {
    width: 100%;  
    height: 100%;
    background: #FF7777;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bounce:hover {
    height: 100px;
    font-family:"Ropa Sans", sans-serif;
  }
  
  .bounce span {



    
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-family:"Ropa Sans", sans-serif;
    font-size: 3vw;
    color: #FFF;
    
  }
  
  .bounce span:nth-child(2) { animation-delay: .1s; }
  .bounce span:nth-child(3) { animation-delay: .2s; }
  .bounce span:nth-child(4) { animation-delay: .3s; }
  .bounce span:nth-child(5) { animation-delay: .4s; }
  .bounce span:nth-child(6) { animation-delay: .5s; }
  .bounce span:nth-child(7) { animation-delay: .6s; }
  .bounce span:nth-child(8) { animation-delay: .7s; }
  
  @keyframes bounce {
    100% {
      top: -20px;
   
                  
    }
  }