@import "./../../styles.scss";
.body,html{
    background-color: black !important;
    width: 100vw;  
    height: 100vh;
    margin: 0;
    padding: 0;
}

.button-container {
    position: absolute;
    z-index: 1;  // Ensure the buttons are above the image
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;


    button {
        margin: 2vh 2vw;  // Give some spacing between buttons
        opacity:70%;
        border-radius: 5%/10%;
        box-shadow: 4% 4% 4% rgb(109, 86, 12);
        border:solid 0.2 bisque;
        border-color:bisque;
        color:bisque;
    }
   button:hover{
    background-color:rgba(216, 152, 74, 0.4);
    color:rgb(209, 220, 255);
  }
  button:active {
    background-color: rgb(150, 8, 179);
  }
}

@media only screen and (max-width: $breakpoint) {
    .button-container {
      flex-direction:column;  // Adjust the size according to your needs
    }
  }
.image-container {
  
  position: relative;
  width: 100vw;  
  height: auto;
  //overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .color-image {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    //object-fit: cover;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%; // starts from 0 to animate the revealing effect
      background: url('../../assets/cover-45.2-grayscale.png') no-repeat center/cover;
      z-index: 2;
      animation: revealGrayScale 5s forwards;
    }
  }
}

@keyframes revealGrayScale {
  to {
    height: 100%;
  }
}

.abcLand{

    font-size:3vw;
    font-weight:20%;
    font-family:'Roboto',sans-serif;
    z-index:100;
    color:antiquewhite;
    opacity:100%;
}

svg{
    background-color:black !important;

}

.transparent-button {
    background-color: transparent;  /* Makes the button's background transparent */
    border: 2% solid #333;  /* This sets the border around the button */
    padding: 1% 1%;  /* Adjust as needed to give space around the text */
    font-size: 2rem;  /* Adjust the text size as needed */
    color: #333;  /* Text color */
    cursor: pointer;  /* Changes the cursor when hovering over the button */
    transition: 0.3s;  /* Smoothens the hover effect */
}

.transparent-button:hover {
    background-color: rgba(51, 51, 51, 0.1);  /* Adds a slight shade to the button when hovered */
}
.transparent-button:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
  }
  
  @keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--hover); }
  }

  .game-title{
    position: absolute;
    top: 5%;  // Adjust this percentage to move the div up/down
    left: 15%;  // Adjust this percentage to move the div left/right
    width: 20%;  // Adjust this to set the width of the div as a percentage of the container
    padding-bottom: 10%;
    font-size:3vw;
    font-family:'Roboto',sans-serif; 
    line-height: 80%;
    color:white;
  }
  .game-subtitle{
    font-size:1.5vw;
    letter-spacing:30%;
    color:burlywood;
    line-height: 80%;
  }
  .storesIcons{
    width:100%;
    height:100%;
  }
  .allOnBackgroundImage{
    width:100%;
  }
  @media only screen and (max-width: $breakpoint) {
    .allOnBackgroundImage {
      align-content:center;  // Adjust the size according to your needs
      display:flex;
    }
  }