
.body{
    background-color: black !important;
    width: 100vw;  
    height: 100vh;
}

.button-container {
    position: absolute;
    z-index: 1;  // Ensure the buttons are above the image
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;


    button {
        margin: 2% 2%;  // Give some spacing between buttons
        opacity:70%;
        border-radius: 5%/10%;
        box-shadow: 4px 4px 4px rgb(202, 165, 43);
        border:solid 0.2 bisque;
        border-color:bisque;
        color:bisque;
    }
   button:hover{
    background-color:rgba(216, 152, 74, 0.4);
    color:rgb(209, 220, 255);
  }
  button:active {
    background-color: rgb(150, 8, 179);
  }
}
.image-container {
  position: relative;
  width: 100vw;  
  height: 100vh;
  //overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .color-image {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    //object-fit: cover;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%; // starts from 0 to animate the revealing effect
      background: url('../../assets/cover-45.2-grayscale.png') no-repeat center/cover;
      z-index: 2;
      animation: revealGrayScale 5s forwards;
    }
  }
}

@keyframes revealGrayScale {
  to {
    height: 100%;
  }
}

.abcLand{

    font-size:3em;
    font-weight:400;
    font-family:'Roboto',sans-serif;
    z-index:100;
   
    
    opacity:100%;
}

svg{
    background-color:black !important;

}

.transparent-button {
    background-color: transparent;  /* Makes the button's background transparent */
    border: 2px solid #333;  /* This sets the border around the button */
    padding: 10px 20px;  /* Adjust as needed to give space around the text */
    font-size: 16px;  /* Adjust the text size as needed */
    color: #333;  /* Text color */
    cursor: pointer;  /* Changes the cursor when hovering over the button */
    transition: 0.3s;  /* Smoothens the hover effect */
}

.transparent-button:hover {
    background-color: rgba(51, 51, 51, 0.1);  /* Adds a slight shade to the button when hovered */
}
.transparent-button:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
  }
  
  @keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--hover); }
  }