
*{
  margin: 0;
  padding: 0;
}
section{
  position: relative;
  width: 100%;
  height: 50vh;
  background: #3586ff;
  overflow: hidden;
}
section .air{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./../../assets/wave.png');
  background-size: 100% 50%
}
section .air.air1{
  animation: wave 30s linear infinite;
  z-index: 10;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
section .air.air2{
  animation: wave2 15s linear infinite;
  z-index: 9;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
section .air.air3{
  animation: wave 30s linear infinite;
  z-index: 8;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
section .air.air4{
  animation: wave2 5s linear infinite;
  z-index: 7;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 40px;
}
@keyframes wave{
  0%{
    background-position-x: 0px; 
  }
  100%{
    background-position-x: 1000px; 
  }
}
@keyframes wave2{
  0%{
    background-position-x: 0px; 
  }
  100%{
    background-position-x: -1000px; 
  }
}

.bird {
  color:rgb(240, 232, 234);
   
   //font-family:'Port Lligat Sans', sans-serif;
    font-size:7em;
    margin-top:0;
    z-index:999;
    //display: block !important;
    //opacity: 1 !important;
    width:100%;
    height:100%;
    
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #000;
}

.text-container {
  height: 50%;
  width: 110%;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  font-size: 2vw;
  font-family:'Roboto', sans-serif;
  //font-family:'Port Lligat Sans', sans-serif;
  letter-spacing: -1rem;
  font-weight:600;
}

.text-container a{
  color: rgba(225,225,225, .01);
  background-image: url("./../../assets/animated-background2.jpg");
  background-repeat: repeat;
  background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  width:100%;
  height:50%;
}
.goback{
  margin-left:12%;
  width:100%;
  height:100%;
}

  @keyframes animate {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }   
}
a        { font-size:4em; width:100vw;height:auto;}
a:link   { text-decoration: none; }
a:visited{ text-decoration: none; }
a:hover  { text-decoration: none; }
a:active { text-decoration: none; }



@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 50%;
  bottom: -1px;
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}
.pnf-container{
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  align-content: center;
  row-gap: 2vh;
  width:100%;
  height: 40%;
}
.btn-round{
  font-size:3vw;
  font-family:'Franklin', sans-serif;
  padding:2%;
}