
 
<section>

  <div class="bird">
    <img src="./../../assets/bird-face.png">
    <div class="badge bg-primary;opacity:0.9;">404 page not found!</div>
  </div>

  <div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
  </div>
  <div style = "color:pink; font-style:Roboto; font-size:3em;margin-top:4%; ">
    <img src="./../../assets/bird-face.png">
    <div class="badge bg-primary;opacity:0.9;">404 page not found!</div>
  </div>



</section>



<body>
  <div class="text-container">
    <div><a routerLink="/"> GO BACK TO WEBABY</a></div>
  </div>
</body>