.container {
  margin-top: 6%;
  width: 100vw;
  min-height: 100vh;   /* zamiast height:100vh -> elastyczne */
  gap: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container img {
  position: relative;   /* już nie absolute */
  transform: translateY(-15%);
  width: 80%;           /* dopasuje się do ekranu */
  max-width: 800px;     /* nie rośnie za duży */
  height: auto;         /* zachowuje proporcje */
  margin: 0rem 0;       /* odstęp od tekstu i strzałki */
}
.text {
  max-width: 55%;
  font-family: "Ropa Sans", sans-serif;
  font-size: clamp(2rem, 2vw, 3rem);
  color: rgb(180, 174, 81);
  text-align: center;
  margin-bottom: 5%;
  z-index: 2;
}

.arrow-down {
  font-weight: 900;
  font-size: 4rem;
  color:  rgba(180, 174, 81, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: bounceArrow 1.5s infinite;
  margin-top: -10rem;
  margin-bottom: 6rem;
  z-index: 3;
}



@keyframes bounceArrow {
  0%, 100% { transform: translateX(-50%) translateY(0); }
  50% { transform: translateX(-50%) translateY(15%); }
}

@media (max-width: 768px) {
  .text {
    max-width: 100%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  
  .container img {
    width: 90%;
  }

  .arrow-down {
    font-size: 3rem;
  }
}


.container_nicpon {
  margin-top: 5rem;               /* odstęp od sekcji wyżej */
  display: flex;
  flex-direction: column;
  align-items: center;            /* wyśrodkowanie poziome */
  justify-content: center;
  text-align: center;
  gap: 2rem;
  font-size: 2.5rem;              /* bardziej rozsądny rozmiar bazowy */
  font-family: "Ropa Sans", sans-serif;
}

.nicpon img {
  max-width: 40%;                 /* większy obrazek */
  height: auto;
}
@media (max-width: 768px) {
  .container_nicpon {
    font-size: 1.5rem;      /* mniejszy tekst */
    margin-top: 3rem;
    padding: 0 1rem;        /* odstęp od boków ekranu */
  }

  .nicpon img {
    max-width: 90%;         /* obrazek dopasowany do szerokości ekranu */
  }
}