<app-side-menu></app-side-menu>
<app-neural-bg></app-neural-bg>
<div class="container">
  <div class="text">
    Webaby tworzy gry rozwijające myślenie i zręczność oraz aplikacje przydatne na każdy dzień
  </div>

  <img src="./../../assets/webabyPromo-1.0.png" alt="promo">

  <div class="arrow-down" onclick="window.scrollBy({ top: window.innerHeight, behavior: 'smooth' })">
    <i class="bi bi-arrow-down-square"></i>
  </div>
</div>
<div class="container_nicpon">
    <div>
         Poznaj najnowszą grę przygodową Abecadłowo - Zagubione literki
    </div>
    <div class="nicpon">
         <img src="./../../assets/NicponExtractedForAdAndPromo.png" alt="nicpon">
    </div>
</div>
<app-footer bgClass="alternate-bg"></app-footer>