@import './../../styles.scss';

body{

background-color: $base-black !important;
}
.logo-motto-container{
  display:flex;
  flex-direction: column;
}

.img_fit{
  max-width:90%;
  max-height:90%;
  background:center/cover url("./../../assets/wbbaby24.png") no-repeat;
  background-color:rgb(244, 247, 192) 100%;

}
@keyframes move {
  0% {
      background-position: 180px 0;
  }
  50% {
      background-position: -20px 0;
  }
  100% {
      background-position: 180px 0;
  }
}

.divImg {
  width: 50%;
  height: 50%;
  background: linear-gradient(to right, rgba(16, 181, 223, 0.5) 10%, rgb(174, 217, 228,0.5) 50%, $base-black 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: move 5s linear infinite;
}


.divImg-1{
  color:white;
  width:50%;
  height:50%;
}


.divImg-alt{
width:100%;
height:100%;
background: linear-gradient(217deg, #16446c, rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, #006867, rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, #62265d, rgba(0, 0, 255, 0) 70.71%);
    border-radius: 50%;
    font-size: 250px;
    height: 1em;
    width: 1em;
    filter: blur(2px);
    
}


.background {
  width: 400px;
  height: 400px;
  background-color: $base-black;
  padding: 80px;
  position: relative;
}

.background .pie {
  width: 30%;
  height: 30%;
  background: white;
  border-top-left-radius: 100%;
  position: absolute;
  transform-origin: bottom right;
  filter: blur(40px);
}

.background .pie.wineberry {
  transform: rotate(81deg);
  background: radial-gradient(circle at bottom right, white, #663a6d 40%);
}

.background .pie.cello {
  transform: rotate(116deg);
  background: radial-gradient(circle at bottom right, white, #24425e 40%);
}

.background .pie.greenpea {
  transform: rotate(202deg);
  background: radial-gradient(circle at bottom right, white, #18665c 40%);
}

.background .pie.greenpea2 {
  transform: rotate(287deg);
}

.background .pie.astronaut {
  transform: rotate(13deg);
  background: radial-gradient(circle at bottom right, white, #345a7f 40%);
}



.game-badges{

  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  flex-shrink:3;
}
.motto{
  color:white;
  display: flex;
  flex-direction: column;
  gap:1%;
}

.glowing{
  max-width:4.2em;
  font-size:4em;
  
  
  font-family:'Roboto',sans-serif;
  // border: solid 2px #fff;
  // box-shadow:
  //   inset 60px 0 120px #f0f,  /* left magenta */
  //   inset -60px 0 120px #0ff; /* right cyan */
}

//here is the logo background glow
@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: "";
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale($size);
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(270deg, $colorA, $colorB);
    background-size: 200% 200%;
    animation: animateGlow $duration ease infinite;
    
    @keyframes animateGlow {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
  }
}

.glow-logo {
  position: relative;
  width: 30vw;
  height: 30vw;
  line-height: 30vw;
  text-align: center;
  color: #252B37;
  background-color: #151823;
  animation: textColor 10s ease infinite;
  @include backlight(0, 5vw, 5vw, 0.75, #0fffc1, #7e0fff, 10s);
    
  @keyframes textColor {
    0% {
      color: #7e0fff;
    }
    50% {
      color: #0fffc1;
    }
    100% {
      color: #7e0fff;
    }
  }
}