
<div class="main-section-container">
  <app-neural-bg></app-neural-bg>
  <div class="main-section-content">

<div class="main-section" data-aos="fade-up">
  <div class="logo-motto-container" [class.fade-in]="videoHasEnded" >

<!--here neon logo - another version presenting logo-->
  <!-- <div *ngIf="!showVideo" data-aos="fade-up" data-aos-duration="3000" class="divImg-1 glow-logo" (click)="playVideo()">
    <div data-aos="zoom-out-right" data-aos-duration="9000" class="logo" *ngIf="!showVideo">
      <ng-container *ngTemplateOutlet="showElement ? logoBlack : logoWhite"></ng-container>
    </div>
  </div>    -->

  <!-- <div class="logotype-block"> [class.fade-in]="showLogo"> 
    <div class="logotype">
      <div class="logo-wrap">
        <object data="assets/wbaby-vector-10.svg" type="image/svg+xml" class="logo"></object>
      </div>
      <div class="enterInto">
        <object data="assets/enterInto-1.2.svg" type="image/svg+xml" class="logo"></object>
      </div>
    </div>
  </div> -->

<div class = "logotype_t" alt ="logo">
  <img src="assets/logoTomek.png">
  <img src="assets/enterintothegame-t.png"
       alt="Slogan"
       class="img-slogan"
       (click)="scrollDown_t()" />

</div>

<!--Logo with vector lines SVG
  <div class="logotype">
    <div class="logo-wrap">
      <object data="assets/wbaby-vector-10.svg" type="image/svg+xml" class="logo"></object>
    </div>
    <div class="enterInto">
      <object data="assets/enterInto-1.2.svg" type="image/svg+xml" class="logo"></object>
    </div>
  </div>
End of SVG part-->

<!--video play-->
  <!-- <div *ngIf="!showVideo" (click)="playVideo()">
    <ng-container *ngTemplateOutlet="showElement ? logoWhite : logoBlack"></ng-container>
  </div> -->

  <!-- Video displayed only when showVideo is true -->
  <!--<div class="logo-light-container">  -->
  <!-- <div class="light-inside"></div>
</div> -->


    <!--Campaign motto showing letter by letter - Enter into the game-->
    <!-- <div>
      <app-campaign-motto></app-campaign-motto>
    </div>    -->
  </div>
  <br><br>
  <div #contentAnchor class="game-badges">
    <app-game-badge></app-game-badge>
  </div>
</div>

<div class="fog-container">
  <div class="fog-layer"></div>
  <div class="logo-mask"></div>
</div>


 <ng-template #logoBlack>
  <img src="./../../assets/wbbaby24b-2.png" alt="Company Logo" class="img_fit sand-effect img-glow" />
</ng-template>

<ng-template #logoWhite>
  <img src="./../../assets/wbbaby24b-2.png" alt="Company2 Logo" class="img_fit sand-effect img-glow" />
</ng-template> 



