@import './../styles.scss';


body {
  font-family: serif sans-serif monospace;
  font-size: 20px;
  background-color: $base-black !important;
  background-image:  linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),                  url("./../assets/cover.png") !important;
}

