
<section id="home" class="hero">
  <div class="hero-bg" role="img" aria-label="Abstract network background"></div>
  <div class="hero-center"  [scrollToInShadow]="'products'">
    <img src="assets/landing/logo_white.png" alt="Webaby Logo" class="hero-logo" (click)="scrollToProducts()"/>
    <p class="tagline">Play • Learn • Imagine</p>
    <!-- <a href="#products" class="btn">Explore Products</a> -->
    <a href="#products" [scrollToInShadow]="'products'" class="btn">Explore Products</a>
  </div>
  <div class="scroll-indicator">↓ Scroll</div>
</section>
