/* Global styles */
/* Colors */

@import "_variables.scss";



$font-family-sans-serif: "Roboto", sans-serif !default;
$font-family-base: $font-family-sans-serif;

// Import Bootstrapa
@import "~bootstrap/scss/bootstrap";

// globalne ustawienia fontów PO bootstrapie
// Import Bootstrapa


// Nadpisanie fontów globalnie
:root {
  --bs-font-sans-serif: "Roboto", sans-serif;
  --bs-body-font-family: "Roboto", sans-serif;
}

html, body {
  background-color: black !important;
  color: rgb(125, 125, 209);
  font-size: 9px;
  font-family: "Roboto", sans-serif !important; // <-- ustawienie fontu
  font-weight: 400; // domyślna waga
  height: 100%;
  margin: 0; 
}

app-root {
  background:$base-black;
  color:rgb(125, 125, 209);
  height: 100%;
  margin: 0;
  //for Cursor-Sword uncomment
  //cursor: url('./assets/cursorSword4.png') !important;
}

canvas.bg {
  height:100%;
  margin:0;
}

.ropa-sans {
  font-family: 'Ropa Sans', sans-serif !important;
}