/* Global styles */
/* Colors */
@charset "utf-8";
$base-color: #042c5c;
$base-black: #051223;
$dimed-blackcolor:#042c5c5f;
$menuFontColor:rgb(109, 108, 85);
$menuFontColorActive:rgb(187, 187, 160);
$box-shadow: 0 0.5rem 1rem rgba($base-black, 0.15) !default;
$glow-color: #a7950f;
$breakpoint:600px;
/* fonts */

$font-base: serif sans-serif,'Roboto';
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@font-face {
  font-family: 'Handjet';
  src: url('./assets/fonts/Handjet-SemiBold.ttf');
}
html,body {
  background-color: black !important;
  // $isToDisplay: true;
  // $background-img: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.60)), center/cover url("./assets/cover2.png") no-repeat;
  //  @if $isToDisplay == true {
  //   background: linear-gradient(rgba(0, 0, 0, 0.90), rgba(10, 1, 104, 0.9),rgba(105, 92, 189, 0.1) )//$background-img;
  //  }
   //for Cursor Sword uncomment
   //cursor: url('./assets/cursorSword4.png'), auto;
   color:rgb(125, 125, 209);
   font-size:9px;  //9px originally
   //for Cursor Sword uncomment
   //cursor: url('./assets/frog-face-cursor.png'), pointer auto;
   height: 100%;
   margin: 0; 
}
 app-root {
  background:$base-black;
  color:rgb(125, 125, 209);
  height: 100%;
  margin: 0;
  //for Cursor-Sword uncomment
  //cursor: url('./assets/cursorSword4.png') !important;
}
canvas.bg{
  height:100%;
  margin:0;
}
