@import './../../styles.scss';
body{
  background-color: $base-black !important;
  color:rgb(252, 52, 85);
}
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    
  }


a:link {
  text-decoration: none;
  color: $menuFontColorActive;    
}


a:visited { 
  text-decoration: none;
  color: $menuFontColorActive;    
}


a:hover { 
  text-decoration: none; 
  color: menuFontColorActive;
}


a:active { text-decoration: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size:2.5em;
  font-weight: 500;
  letter-spacing: 0.09em;
  display:flex;
  gap:4%;
  background-color:rgba($color: #301f07, $alpha: 0.4)
}

 
  

.awrap:hover {
  background-color: (255,255,255,0.2);
  color:rgba(123, 160, 77, 0.1);
  animation: awrap 1s ease infinite;
}
@keyframes awrap {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}


