<div [hidden]="isToDisplay == false" class="sticky" >
  <div hidden>MENU</div>
  <ul class="bound">
    <li><div class="awrap"><a href="#">&nbsp;&nbsp;</a></div></li>
    <li><div class="awrap"><a href="#">Start</a></div></li>
    <li><div class="awrap"><a href="#">Produkty</a></div></li>
    <li><div class="awrap"><a routerLink="/about_webaby">O&nbsp;Webaby</a></div></li>
    <!-- <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li> -->
    <li *ngIf="showLoginRegister">
      <div class="awrap"><a href="#">Login</a></div>
    </li>
    <li *ngIf="showLoginRegister">
      <div class="awrap"><a href="#">Register</a></div>
    </li>
  </ul>
</div>
