@import './../../styles.scss';
body{
  background-color: $base-black !important;
  color:antiquewhite;
}
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size:2em;
  font-weight: 400;
  letter-spacing: 0.09em;
  display:flex;
  gap:4%;
  background-color:rgba($color: #120b75, $alpha: 0.4)
}
.li :hover{
  background-color: (255,255,255,0.2);
  color:rgba(255,255,255,0.3)l
}


