<div [hidden]="isToDisplay == false" class="sticky" >
  <div>MENU</div>
  <ul>
    <li><a href="#">Games</a></li>
    <li><a href="#">Shop</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Register</a></li>
  </ul>
</div>
